// Font
$font: Verdana, Geneva, Tahoma, sans-serif;

// Color
$claro: #7dcbff;
$suave: #0099ff;
$oscuro: #006ab1;
$white: #fff;
$black: #333;
$gris: #7a8183;


// Shadow
$primaryShadow: 0 0 15px $gris;
